{
  "presets": [ "env", "flow" ],
  "plugins": [
  	  "transform-object-rest-spread",
  	  "transform-runtime",
	  ["module-resolver",
				{
					"root":
						[
						"./",
						"./src",
						]
				}
		  	]
	]
}
